.debate-single {
  figure img {
    width: 100%;
  }

  .img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include media('<=768px') {
      width: 100%;
    }

    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      width: 100%;
    }
  }

  .tags {
    margin-bottom: 24px;
  }

  .desc {
    margin-top: 60px;

    @include media('<=768px') {
      margin-top: 16px;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 16px;

    h1 {
      font-size: 32px;
      margin: 0;

      @include media('<=768px') {
        font-size: 24px;
      }
    }
  }

  .info {
    align-items: center;
    justify-content: center;
    background-color: #EEEDE7;
    display: flex;
    gap: 24px;
    margin-top: 60px;
    padding: 16px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;

    @include media('<=768px') {
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      gap: 12px;
      margin-top: 24px;
      width: 100%;
    }

    i {
      margin-right: 12px;
      color: #5A6592;
    }
  }

  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 60px;

    @include media('<=768px') {
      gap: 24px;
      grid-template-columns: 1fr;
      margin-top: 24px;
    }
  }

  .play {
    margin-top: 120px;

    @include media('<=768px') {
      margin-top: 24px;
    }

    h3 {
      font-size: 32px;
      margin-top: 0;

      @include media('<=768px') {
        font-size: 24px;
      }
    }

    &-wrapper {
      position: relative;
    }
  }
}