.news {
  &-wrapper {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);

    @include media('<=768px') {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    @include media('<=468px') {
      grid-template-columns: 1fr;
    }
  }

  &-item {
    a {
      &:hover {
        img {
          transform: scale(1.1);
        }

        .read-more {
          //color: $orange1;
        }
      }
    }

    figure {
      border-radius: 8px;
      overflow: hidden;
    }

    img {
      border-radius: 8px;
      transition: $transition-quick;
      width: 100%;
      object-fit: cover;
      max-height: 320px;
    }

    .title {
      font-size: 18px;
      font-weight: 600;
      line-height: 140%;

      @include media('<=768px') {
        font-size: 16px;
        font-weight: 400;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 20px;
    }

    .heading {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      gap: 16px;
      text-transform: uppercase;

      .read-more {
        //color: $orange2;
        font-weight: 600;
        transition: $transition-quick;

        i {
          font-size: 11px;
          margin-left: 5px;
        }
      }
    }
  }
}
