.hamburger {
  align-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  margin-left: auto;
  position: relative;
  width: 32px;
  z-index: 1000000;
  background-color: white;
  border-radius: 100%;

  .wrapper {
    height: 14px;
    position: relative;
    width: 14px;

    span {
      background: #0F2A5D;
      display: block;
      height: 2px;
      opacity: 1;
      position: absolute;
      right: 0;
      width: 100%;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 6px;
      }

      &:nth-child(3) {
        top: 12px;
      }
    }
  }
}

.mainmenu-active {
  .hamburger {
    .wrapper {
      span {
        background: #0F2A5D;

        &:nth-child(1) {
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
          width: 100%;
        }

        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 6px;
        }

        &:nth-child(4) {
          top: 12px;
          width: 0%;
          left: 50%;
        }
      }
    }
  }
}
