.debate {
  padding-top: 140px;
  padding-bottom: 100px;
  position: relative;

  @include media('<=768px') {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  &::before {
    background-image: url('../images/debate-id.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    height: 193px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    width: 100vw;

    @include media('<=768px') {
      height: 76px;
    }
  }

  &-items {
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 88px;

    .debate-item:last-child {
      align-self: flex-end;
    }
  }

  &-item {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1300px;

    @include media('<=768px') {
      flex-direction: column;
      gap: 0;
      padding: 0;
    }
  }

  &-img-grid,
  figure {
    position: relative;
    z-index: 10;
  }

  &-img-grid {
    display: grid;
    grid-template-columns: repeat(3, 170px);

    @include media('<=768px') {
      width: 100%;
      grid-template-columns: repeat(3, auto);
    }

    img {
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }

  .desc {
    align-items: flex-start;
    background-color: #ece6d9;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
    padding: 32px 32px 32px 44px;
    justify-content: center;

    @include media('<=768px') {
      padding: 24px;
    }
  }



  .title {
    color: #a81217;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    @include media('<=768px') {
      font-size: 20px;
    }
  }

  .date {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    letter-spacing: 1.28px;
    text-transform: uppercase;
  }

  .btn-red {
    margin-top: 50px;

    @include media('<=768px') {
      margin-top: 0;
    }
  }

  &-controls {
    margin-top: 80px;

    @include media('<=768px') {
      flex-direction: column;
      gap: 16px;
      margin-top: 32px;
    }

    .slider-pagination {
      @include media('<=768px') {
        display: none;
      }
    }
  }
}
