.home {
  @import 'banner';
  @import 'intro';
  @import 'thematic';
  @import 'category';
  @import 'tribute';
  @import 'workshop';
  @import 'tv';
  @import 'news';
  @import 'gallery';

  .home-title {
    @extend .h1;
    margin-bottom: 80px;
  }

  .communication,
  .thematic,
  .category,
  .workshop{
    .home-title {
      margin-left: 110px;
      letter-spacing: 0.01em;

      @include media('<=768px') {
        margin-left: 0;
      }
    }
  }

  .communication,
  .thematic,
  .category {
    .home-title {
      color: $white;
    }
  }

  .communication {
    background: $black;
  }
}
