.tribute {
  background: $black;
  display: flex;
  padding-bottom: 80px;
  position: relative;

  @include media('<=768px') {
    padding: 40px 0;
  }

  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    opacity: 0;

    &.swiper-slide-active {
      opacity: 1;
    }
  }

  .slider-controls {
    position: absolute;
    bottom: 20px;
    right: 40px;
    z-index: 100;

    @include media('<=768px') {
      position: relative;
      bottom: 0;
      right: 0;
      margin-top: 24px;
      justify-content: center
    }
  }

  &-item {
    display: flex;
    position: relative;
    height: 495px;
    gap: 12px;

    @include media('<=768px') {
      flex-direction: column;
      height: auto;
    }

    &::before {
      background-image: url('../images/tribute-id.png');
      background-size: cover;
      bottom: 0;
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      width: 40%;
      z-index: 10;

      @include media('<=768px') {
        display: none;
      }
    }

    &::after {
      background-color: $black;
      content: '';
      height: 101%;
      position: absolute;
      width: 60%;
      top: 0;
      left: 0;
      clip-path: polygon(0% 100%, 100% 100%, 0% 0);

      @include media('<=768px') {
        display: none;
      }
    }
  }

  figure {
    height: 100%;
    position: absolute;
    width: 100%;

    @include media('<=768px') {
      position: relative;

      &::before {
        background-image: url('../images/tribute-id.png');
        background-size: cover;
        bottom: 0;
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        width: 40%;
        z-index: 10;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include media('<=768px') {
        min-height: 196px;
      }
    }
  }

  &-content {
    align-items: flex-start;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 400px;
    position: relative;
    z-index: 10;



    &-wrapper {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 24px;
      position: relative;
      max-width: 318px;

      @include media('<=768px') {
        gap: 12px;
      }

      h3,
      p {
        color: #fff;
      }
    }

    h2 {
      color: #e3862e;
      font-weight: 700;
      font-size: 40px;
      line-height: 140%;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      transform: translateX(-48px);

      @include media('<=768px') {
        transform: translateX(0);
        font-size: 28px;
      }
    }
  }
}
